@mixin pad{
@media(max-width:768px){
    @content;
}
}
@mixin mobile{
@media(max-width:375px){
    @content;
}
}

$app-lg: 'https://raw.githubusercontent.com/TzuruC/fitnee-36/main/assets/images/app-lg.png';
$app-sm: 'https://raw.githubusercontent.com/TzuruC/fitnee-36/main/assets/images/app-sm.png';

$article1: 'https://raw.githubusercontent.com/TzuruC/fitnee-36/main/assets/images/article1.png';
$article2: 'https://raw.githubusercontent.com/TzuruC/fitnee-36/main/assets/images/article2.png';
$article3: 'https://raw.githubusercontent.com/TzuruC/fitnee-36/main/assets/images/article3.png';
$article4: 'https://raw.githubusercontent.com/TzuruC/fitnee-36/main/assets/images/article4.png';

$coach1: 'https://raw.githubusercontent.com/TzuruC/fitnee-36/main/assets/images/coach1.png';
$coach2: 'https://raw.githubusercontent.com/TzuruC/fitnee-36/main/assets/images/coach2.png';
$coach3: 'https://raw.githubusercontent.com/TzuruC/fitnee-36/main/assets/images/coach3.png';
$coach4: 'https://raw.githubusercontent.com/TzuruC/fitnee-36/main/assets/images/coach4.png';

$helper-lg: 'https://raw.githubusercontent.com/TzuruC/fitnee-36/main/assets/images/helper-lg.png';
$helper-sm: 'https://raw.githubusercontent.com/TzuruC/fitnee-36/main/assets/images/helper-sm.png';

$hero-lg: 'https://raw.githubusercontent.com/TzuruC/fitnee-36/main/assets/images/hero-lg.png';
$hero-sm: 'https://raw.githubusercontent.com/TzuruC/fitnee-36/main/assets/images/hero-sm.png';

$slogan-lg: url('https://raw.githubusercontent.com/TzuruC/fitnee-36/main/assets/images/slogan-lg.png');
$slogan-sm: url('https://raw.githubusercontent.com/TzuruC/fitnee-36/main/assets/images/slogan-sm.png');

$tab-active: url('https://raw.githubusercontent.com/TzuruC/fitnee-36/main/assets/images/tab-active.png');
$tab-default: url('https://raw.githubusercontent.com/TzuruC/fitnee-36/main/assets/images/tab-default.png');



.container-min-h{
    min-height: calc(100vh - 136px);
}
