@mixin pad{
@media(max-width:768px){
    @content;
}
}
@mixin mobile{
@media(max-width:375px){
    @content;
}
}

$app-lg: 'https://raw.githubusercontent.com/TzuruC/fitnee-36/main/assets/images/app-lg.png';
$app-sm: 'https://raw.githubusercontent.com/TzuruC/fitnee-36/main/assets/images/app-sm.png';

$article1: 'https://raw.githubusercontent.com/TzuruC/fitnee-36/main/assets/images/article1.png';
$article2: 'https://raw.githubusercontent.com/TzuruC/fitnee-36/main/assets/images/article2.png';
$article3: 'https://raw.githubusercontent.com/TzuruC/fitnee-36/main/assets/images/article3.png';
$article4: 'https://raw.githubusercontent.com/TzuruC/fitnee-36/main/assets/images/article4.png';

$coach1: 'https://raw.githubusercontent.com/TzuruC/fitnee-36/main/assets/images/coach1.png';
$coach2: 'https://raw.githubusercontent.com/TzuruC/fitnee-36/main/assets/images/coach2.png';
$coach3: 'https://raw.githubusercontent.com/TzuruC/fitnee-36/main/assets/images/coach3.png';
$coach4: 'https://raw.githubusercontent.com/TzuruC/fitnee-36/main/assets/images/coach4.png';

$helper-lg: url('https://raw.githubusercontent.com/TzuruC/fitnee-36/main/assets/images/helper-lg-fixed.png');
$helper-sm: url('https://raw.githubusercontent.com/TzuruC/fitnee-36/main/assets/images/helper-sm.png');

$hero-lg: 'https://raw.githubusercontent.com/TzuruC/fitnee-36/main/assets/images/hero-lg.png';
$hero-sm: 'https://raw.githubusercontent.com/TzuruC/fitnee-36/main/assets/images/hero-sm.png';

$slogan-lg: url('https://raw.githubusercontent.com/TzuruC/fitnee-36/main/assets/images/slogan-lg.png');
$slogan-sm: url('https://raw.githubusercontent.com/TzuruC/fitnee-36/main/assets/images/slogan-sm.png');

$tab-active: url('https://raw.githubusercontent.com/TzuruC/fitnee-36/main/assets/images/tab-active.png');
$tab-default: url('https://raw.githubusercontent.com/TzuruC/fitnee-36/main/assets/images/tab-default.png');

$page1-lg: url('https://raw.githubusercontent.com/TzuruC/fitnee-36/main/assets/images/1.png');
$page1-sm: url('https://raw.githubusercontent.com/TzuruC/fitnee-36/main/assets/images/1-sm.png');
$page2-lg: url('https://raw.githubusercontent.com/TzuruC/fitnee-36/main/assets/images/2.png');
$page2-sm: url('https://raw.githubusercontent.com/TzuruC/fitnee-36/main/assets/images/2-sm.png');
$page3-lg: url('https://raw.githubusercontent.com/TzuruC/fitnee-36/main/assets/images/3.png');
$page3-sm: url('https://raw.githubusercontent.com/TzuruC/fitnee-36/main/assets/images/3-sm.png');
$page4-lg: url('https://raw.githubusercontent.com/TzuruC/fitnee-36/main/assets/images/4.png');
$page4-sm: url('https://raw.githubusercontent.com/TzuruC/fitnee-36/main/assets/images/4-sm.png');
$page5-lg: url('https://raw.githubusercontent.com/TzuruC/fitnee-36/main/assets/images/5.png');
$page5-sm: url('https://raw.githubusercontent.com/TzuruC/fitnee-36/main/assets/images/5-sm.png');




.container-min-h{
    min-height: calc(100vh - 136px);
}

@keyframes breath-light {
    0%{
        color: $white;
        background: rgba(215,156,5,.8);
    }
    50%{
        color: $white;
        background: rgba(215,156,5,.2);
    }
    55%{
        color: $white;
        background: rgba(215,156,5,.2);
    }
    100%{
        color: $white;
        background: rgba(215,156,5,.8);
    }    
}

.totop-btn{   
    padding: 6px 8px; 
    position: fixed;     
    right: 120px;   
    bottom: 50px;   
    z-index: 3;    
    cursor: pointer;
    background: $primary;    
    transition-duration: .5s;  
    animation-timing-function: ease-in-out;
    opacity: .7;
    -webkit-box-shadow: 0px 0px 2px 0px $gray-300;
    -moz-box-shadow: 0px 0px 2px 0px $gray-300;
    box-shadow: 0px 0px 2px 0px $gray-300;
    .material-symbols-outlined {        
    font-size: 56px;     
    color: $white;    
    position: relative;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
        @include pad{
            font-size: 32px;   
        }
    }
    &:hover{   
        transition-duration: .3s;  
        animation-timing-function: ease-in-out;
        opacity: 1;
    }
    @include pad{
        right: 20px;   
        bottom: 40px;   
    }
}