<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>admin-article-list</title>
    
  </head>
  <body>
    <%- include('././layout/admin-header'); -%>
    
    <div class="container container-min-h pt-11">
      <h2 class="fw-bold fs-2 mb-10">網站問題回報</h2>
      <table class="table">
        <thead class=" table-secondary">
          <tr>
            <th scope="col">#</th>
            <th scope="col">問題主旨</th>
            <th scope="col">發布人</th>
            <th scope="col">建立時間</th>
            <th scope="col" class="text-center">處理狀態</th>
            <th scope="col" class="text-center">管理操作</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>登入問題 - 無法訪問我的帳戶</td>
            <td>張明華</td>
            <td>2022/04/15</td>
            <td class="text-center">已解決</td>
            <td class="text-center"><a href="">查看</a></td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>忘記密碼了要怎麼重設我的帳戶密碼？</td>
            <td>李小雲</td>
            <td>2023/07/29</td>
            <td class="text-center">已解決</td>
            <td class="text-center"><a href="">查看</a></td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>我在瀏覽網站時收到了一個奇怪的錯誤訊息</td>
            <td>陳大榮</td>
            <td>2021/10/08</td>
            <td class="text-center">已解決</td>
            <td class="text-center"><a href="">查看</a></td>
          </tr>
        </tbody>
      </table>
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
              </svg>
            </a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
              </svg>
            </a>
          </li>
        </ul>
      </nav>
    </div>

    <%- include('././layout/admin-footer'); -%>
    <!-- axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <!-- customized js -->
    <script type="module" src="/./main.js"></script>
  </body>
</html>
