<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>#36 後台 - 文章管理-編輯文章</title>
  </head>
  <body>
    <%- include('././layout/admin-header'); -%>
    <div class="container container-min-h pt-11 mb-12">
      <h2 class="fw-bold fs-2 mb-4">文章管理-編輯文章</h2> 
    </div>
    <%- include('././layout/admin-footer'); -%>
    <!-- axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <!-- customized js -->
    <script type="module" src="/./main.js"></script>
  </body>
</html>
