<div class="fitnee-ad py-10">
    <div class="container text-white">
    <div class="page-slogan mb-lg-7 mb-5 text-center">
    <span class="d-block mb-lg-3 mb-0 fs-2">訓練幫手 免費體驗</span>
    <span class="d-block fs-6">幫助您輕鬆組織有效訓練</span>
    </div>
    <div class="page-action">
    <div class="text-center">
        <a href="fitneehelper.html" class="btn ms-2 mb-lg-7 mb-5 btn-outline-primary rounded-1 fs-4 px-9 py-3">立即免費體驗</a>
    </div>
    <span class="d-block text-center">掌握訓練品質精確，讓我們為您準備</span>
    </div>
</div>
</div>    