<div class="sitemap bg-dark">
    <div class="logo-footer"></div>
    <div class="sitemap-footer"></div>
</div>
<div class="copyright p-4 bg-secondary text-white text-center fs-6">
    copyright ©2023 all rights reserve. </br> 僅作為學習用途，無商業行為
</div>