<div class="sitemap bg-dark">
    <div class="container">
        <div class="row d-md-flex align-items-center">
            <div class="logo-footer col-md-6 text-center text-md-start mt-9 mt-md-0">
                <a href="index.html"><img class="" src="https://raw.githubusercontent.com/TzuruC/fitnee-36/main/assets/images/logo.png" alt="logo"></a>
            </div>
            <div class="sitemap-footer col-md-6 py-9 d-md-flex justify-content-between">                 
                <div class="sitemap-g1 text-center text-md-start">
                    <h5 class="pb-4 fs-5 text-primary">網站地圖</h5>
                    <ul class="p-0">
                    <li class="pb-2"><a class="fs-6 link-light" href="">關於我們</a></li>
                    <li class="pb-2"><a class="fs-6 link-light" href="">專業教練資源</a></li>
                    <li class="pb-2"><a class="fs-6 link-light" href="">訓練幫手</a></li>
                    <li class="pb-2"><a class="fs-6 link-light" href="">教練身份審核</a></li> 
                    <li class="pb-2"><a class="fs-6 link-light" href="">精選文章</a></li>                
                    </ul>
                </div>
                <div class="sitemap-g2 text-center text-md-start">
                    <h5 class="pb-4 fs-5 text-primary">客服與系統</h5>
                    <ul class="p-0">
                    <li class="pb-2"><a class="fs-6 link-light" href="">錯誤回報</a></li>
                    <li class="pb-2"><a class="fs-6 link-light" href="">網站後台管理</a></li>
                    </ul>
                </div>
                <div class="sitemap-g3 text-center text-md-start">
                    <h5 class="pb-4 fs-5 text-primary">贊助商</h5>
                    <ul class="p-0">
                    <li class="pb-2"><a class="fs-6 link-light" href="">Fitness 運動用品</a></li>
                    <li class="pb-2"><a class="fs-6 link-light" href="">Gym 健身房</a></li>
                    </ul>
                </div>             
            </div>                  
            </div>
        </div>
    </div>
</div>

<div class="copyright p-4 bg-secondary text-white text-center fs-6">
    copyright ©2023 all rights reserve. </br> 僅作為學習用途，無商業行為
</div>