<header id="transNav" class="fixed-top trans-nav">
    <div class="container d-flex d-lg-block justify-content-between align-items-center">
        <div class="py-4 d-flex justify-content-between align-items-center flex-lg-row">
            <div class="logo-wrap">
                <a class="navbar-brand m-0 p-0" href="index.html">
                    <img
                        class="align-self-center logo-header"
                        src="https://raw.githubusercontent.com/TzuruC/fitnee-36/main/assets/images/logo.png"
                        alt="logo"
                    />
                </a>
            </div>
            <div
                id="navGroup"
                class="nav-group py-lg-0 py-12 d-lg-flex d-none flex-lg-row flex-column fixed-md-top justify-content-between animate__fadeInUpBig"
            >
                <nav class="nav me-lg-14">
                    <ul class="d-flex flex-lg-row flex-column m-auto mb-2 mb-lg-0 list-unstyled">
                        <li class="nav-item mb-lg-0 mb-9 mx-5 text-center fs-4">
                            <a class="nav-link link-light active" aria-current="page" href="coach-list.html"
                                >專業教練</a
                            >
                        </li>
                        <li class="nav-item mb-lg-0 mb-9 mx-5 text-center fs-4">
                            <a class="nav-link link-light" href="fitneehelper.html">訓練幫手</a>
                        </li>
                        <li class="nav-item mb-lg-0 mb-9 mx-5 text-center fs-4">
                            <a class="nav-link link-light" href="coach-audit.html">教練資格</a>
                        </li>
                    </ul>
                </nav>
                <div class="nav-btn d-flex flex-lg-row flex-column align-items-center" id="logUI">
                    <!-- <a
                        class="btn ms-lg-4 mb-lg-0 mb-6 btn-outline-primary rounded-1 fs-4 col-5"
                        href="member-login.html"
                        type="button"
                        >登入</a
                    >
                    <a class="btn ms-lg-4 btn-outline-primary rounded-1 fs-4 col-5" href="register.html" type="button"
                        >註冊</a
                    > -->
                </div>
            </div>
        </div>
        <div class="nav-toggler d-lg-none" role="button">
            <span class="material-symbols-outlined fs-1 m-2 text-white"> menu </span>
        </div>
    </div>
    <!-- To Top Btn -->
    <div class="totop-btn d-none">
        <a href="#">
            <span class="material-symbols-outlined"> arrow_upward </span>
        </a>
    </div>
</header>
