// @mixin pad {
//     @media screen and (max-width: 768px) {
//         @content;
//     }
// }
// @mixin mobile {
//     @media screen and (max-width: 375px) {
//         @content;
//     }
// }



.header {
    background: #69f0ae;
    font-size: 64px;
}

.logo-header {
    width: 278px;
    @include pad {
        width: 170px;
    }
}

.btn-outline-primary:hover {
    color: white !important;
}

.logo-header {
    text-align: left;
    @include mobile {
        text-align: center;
    }
}

.navbar-toggler,
.navbar-toggler:active,
.navbar-toggler:focus,
.navbar-toggler-icon:focus {
    border: 0 !important;
    outline: none !important;
    box-shadow: none !important;
}
button.navbar-toggler.ml-auto.hidden-sm-up.float-xs-right:focus {
    outline: none !important;
}
button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focusring-color;
}



.carousel-caption {
    top: 240px;
    bottom: auto;
    @include pad {
        top: 96px;
    }
    @include mobile{
        top: 36 px;
    }
}

.hero{
    font-size: 72px;
    line-height: 120%;
    font-weight: bold;
    @include pad{
        font-size: 32px;
    }
}
.title-group{
    margin-bottom: 120px;
}
.title{
    font-size: 48px;
    line-height: 120%;
    font-weight: normal;
    letter-spacing: 7.68px;
    position: relative;
    @include mobile{
        font-size: 28 px;
    }
    &::after{
        content: ' ';
        width: 56px;
        height: 8px;
        position: absolute;
        top: 78px;
        left: 48%;
        background: $yellow-500;
    }
}
.slogan{
    font-size: 56px;
    line-height: 120%;
    font-weight: bold;
    @include mobile{
        font-size: 32px;
    }
}


.banner-slogan-1 span {
    position: relative;
    &::after {
        content: ' ';
        width: 56px;
        height: 8px;
        position: absolute;
        top: 100px;
        left: 9px;
        background: $yellow-500;
    }
    
}

.sitemap-footer a:hover,
.nav-item a:hover{
    color: #F6BD2C !important;
}

.coach-slogan{
    font-size: 56px;
    line-height: 67px;
    font-weight: 700;
    background-image: $slogan-lg;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    @include mobile{
        font-size: 32px;
        line-height: 38px;
        background-image: $slogan-sm;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
}

.fitneehelper{
    background-image: $helper-lg;
    background-repeat: no-repeat;
}

.filter-btn{
    margin-right: -15px;
    padding: 12px 31px;
    font-size: 32px;
    line-height: 40px;
    background: $tab-default no-repeat; 
    background-size: contain;
    &.active{
        background: $tab-active no-repeat; 
        background-size: contain;
    }
}

.coach-filter-system{
    border-bottom: 4px solid $gray-300;
}

.search-box{
    position: relative;
    span{
        position: absolute;
        left: 8px;
        color: $gray-800;
    }
    input{
        width: 260px;
        margin-bottom: 6px;
        padding: 16px 16px 16px 36px;
        border-radius: 0;
        font-size: 20px;
        border: 1px solid $gray-300;
    }
}

.coach-caption{
    margin-top: -48px;
    position: relative;
}
.coach-title{
    color: $yellow-500;
}

.img-gradient{
    position:relative;
    display:inline-block;
}  
.img-gradient:after {
    content:'';
    position:absolute;
    left:0; top:0;
    width:100%; height:100%;
    display:inline-block;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,.7) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,.7)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,.7) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,.7) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,.7) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,.7) 100%); /* W3C */
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}