.header {
    background: #69f0ae;
    font-size: 64px;
}

.logo-header {
    width: 278px;
    @include pad {
        width: 170px;
    }
}

.btn-outline-primary:hover {
    color: white !important;
}

.logo-header {
    text-align: left;
    @include mobile {
        text-align: center;
    }
}

.navbar-toggler,
.navbar-toggler:active,
.navbar-toggler:focus,
.navbar-toggler-icon:focus {
    border: 0 !important;
    outline: none !important;
    box-shadow: none !important;
}
button.navbar-toggler.ml-auto.hidden-sm-up.float-xs-right:focus {
    outline: none !important;
}
button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focusring-color;
}

.sitemap-footer a:hover,
.nav-item a:hover{
    color: #F6BD2C !important;
}

.trans-nav{
    transition: all .3s ease-out;
}

.bg-dark-7{
    -webkit-box-shadow: 0px 0px 35px -14px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 35px -14px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 35px -14px rgba(0, 0, 0, 0.75);
    background-color: rgba($color: #222222, $alpha: .9);
}

#navGroup {    
    @include pad{
        height: 0;
        transition: height 0.3s;
    }
}
