
.fitneehelper-app{
    max-width: 375px !important;
    min-height: 50vh;
    margin: 0 auto;
}

.fitneehelper-app h3.welcome{
    
    font-size: 48px !important;
}
.fs-12{
    font-size: 12px;
}

.input-bg-25{
    background-color: hsl(43, 100%, 95%);
}

.squad-unit{
    border-top: 1px dashed $primary;
    input{
        width: 60px;
    }
}

.delete-training-btn{
    cursor: pointer;
}


// // 隱藏數字箭頭
// /* Chrome, Safari, Edge, Opera */
// input.add-new-weight::-webkit-outer-spin-button,
// input.add-new-weight::-webkit-inner-spin-button,
// input.add-new-times::-webkit-outer-spin-button,
// input.add-new-times::-webkit-inner-spin-button {
//   -webkit-appearance: none;
//   margin: 0;
// }
// /* Firefox */
// input.add-new-weight[type=number],
// input.add-new-times[type=number] {
//   -moz-appearance: textfield;
// }
