
.fitneehelper-app{
    max-width: 375px !important;
    min-height: 50vh;
    margin: 0 auto;
}

.fitneehelper-app h3.welcome{
    
    font-size: 48px !important;
}
.fs-12{
    font-size: 12px;
}

.input-bg-25{
    background-color: hsl(43, 100%, 95%);
}

.squad-unit{
    border-top: 1px dashed $primary;
    input{
        width: 60px;
    }
}