<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>#36 FitNee - 精選文章</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <!-- Page Banner -->
    <div class="page-banner pt-12 pb-5 justify-content-between">
      <div class="container py-lg-11">
        <div class="d-lg-flex d-block justify-content-between">
      <h2 class="fs-3 text-primary">專業教練 <span class="fs-5">/</span></h2>
      <p class="fs-6 text-white text-end">
        堅持不懈自己的選擇
        <span class="d-block d-lg-inline ms-lg-4">讓身體追上你心理的強悍</span>
      </p>
        </div>
      <div class="page-search-box d-flex d-lg-none justify-content-between align-items-center">
        <span class="material-symbols-outlined">
            search
            </span>
        <input type="search" class="form-control" placeholder="搜尋專業教練" aria-label="Search" aria-describedby="search-addon" />
        
      </div>
    </div>
    </div>

    <section class="container py-lg-13 py-6 col-lg-7 col-md-9 col-12">
      <h3 class="article-title mb-2 mb-lg-2 fw-bold">FitNee 的精神</h3>
      <div class="article-category mb-2 text-primary">OK</div>
      <div class="article-create mb-2 d-flex justify-content-between">
        <div class="article-author"></div>
        <div class="article-time"></div>
      </div>
      <div class="article-article row justify-content-between">       
        
        <div class="article-breif col-12 col-lg-8">
          <p class="mb-4">歡迎來到我們的教練媒合平台！<br> 我們的使命是為您提供一個優質的平台，幫助您找到最合適的重訓教練，實現健康和體能目標。 <br>無論您是初學者還是經驗豐富的運動員，我們都致力於幫助您找到完美的訓練師，為您提供個性化的健身計畫。</p>          
        </div>
        <div class="article-img col-12 col-lg-4">
          <img class="w-100 img-fluid mb-4" src="https://raw.githubusercontent.com/TzuruC/fitnee-36/main/assets/images/article3.png" alt="article-img">
        </div>
        <div class="article-content col-12">
          <p class="mb-4">我們是一個充滿熱情的團隊，致力於連接運動愛好者和專業重訓教練。 <br>我們明白，選擇合適的教練是取得成功的關鍵，因此我們建立了這個平台，讓您能夠輕鬆找到您所需要的教練。 <br>每個人都應該擁有機會改善自己的生活品質，通過重訓實現健康、強壯和自信。因此在我們的平台上，您將能夠瀏覽數以百計的專業重訓教練的個人檔案。 </p>
          <p class="mb-4">感謝您的信任： <br>感謝您選擇我們的重訓教練媒合平台。我們迫不及待地期待協助您開始您的健身旅程，實現更健康、更強壯的自己。</p>
          <p class="mb-4">如果您有任何疑問或建議，請隨時與我們聯繫。讓我們一起向更健康的未來邁進！</p>
        </div>
      </div>
    </section>

    <!-- fitnee-ad -->
    <div class="fitnee-ad py-10">
      <div class="container text-white">
        <div class="page-slogan mb-lg-7 mb-5 text-center">
          <span class="d-block mb-lg-3 mb-0 fs-2">訓練幫手 免費體驗</span>
          <span class="d-block fs-6">幫助您輕鬆組織有效訓練</span>
        </div>
        <div class="page-action">
          <div class="text-center">
            <div class="btn ms-2 mb-lg-7 mb-5 btn-outline-primary rounded-1 fs-4 px-9 py-3">立即免費體驗</div>
          </div>
          <span class="d-block text-center">掌握訓練品質精確，讓我們為您準備</span>
        </div>
      </div>
    </div>    
    <%- include('./layout/footer'); -%>

    <!-- axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <!-- customized js -->
    <script type="module" src="../main.js"></script>
    <script type="module" src="../assets/js/article-detail.js"></script>
  </body>
</html>
