<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>coach-detail</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <!-- Page Banner -->
    <div class="page-banner pt-12 pb-5 justify-content-between">
      <div class="container py-lg-11">
        <div class="d-lg-flex d-block justify-content-between">
      <h2 class="fs-3 text-primary">專業教練 <span class="fs-5">/</span></h2>
      <p class="fs-6 text-white text-end">
        堅持不懈自己的選擇
        <span class="d-block d-lg-inline ms-lg-4">讓身體追上你心理的強悍</span>
      </p>
        </div>
      <div class="page-search-box d-flex d-lg-none justify-content-between align-items-center">
        <span class="material-symbols-outlined">
            search
            </span>
        <input type="search" class="form-control" placeholder="搜尋專業教練" aria-label="Search" aria-describedby="search-addon" />
        
      </div>
    </div>
    </div>
    
    
    <section class="page-list-section container my-lg-13 d-lg-block d-lg-flex">

      <!-- pc filter -->
      <div class="filter-group-lg d-lg-block d-none col-lg-2">
        <h3 class="mb-7">請選擇篩選條件</h3>
      
        <div class="filter-opt-group0 mb-7">
          <div class="mb-5 d-block fw-bold" for="">教練關鍵字搜尋</div>
          <div class="aside-search-box mb-3 d-flex justify-content-between align-items-center">
            <span class="material-symbols-outlined">
              search
            </span>
            <input type="search" class="form-control" placeholder="搜尋專業教練" aria-label="Search"
              aria-describedby="search-addon" />
          </div>
        </div>

        <div class="filter-opt-group1 mb-7">
          <div class="mb-5 d-block fw-bold" for="">教練專長項目</div>
          <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox" value="" id="c1">
            <label class="form-check-label" for="c1">
              體態調整
            </label>
          </div>
          <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox" value="" id="c2">
            <label class="form-check-label" for="c2">
              增肌減脂
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="c3">
            <label class="form-check-label" for="c3">
              運動訓練
            </label>
          </div>
        </div>
      
        <div class="filter-opt-group2 mb-7">
          <div class="mb-5 d-block fw-bold" for="">教練服務地區</div>
          <select class="form-select" aria-label="Default select example">
            <option selected>未選擇</option>
            <option value="1">北部</option>
            <option value="2">中部</option>
            <option value="3">南部</option>
          </select>
        </div>
      
        <div class="filter-opt-group3 mb-7">
          <div class="mb-5 d-block fw-bold" for="">教練服務時間</div>
          <select class="form-select mb-3" aria-label="Default select example">
            <option selected>每天</option>
            <option value="1">星期一</option>
            <option value="2">星期二</option>
            <option value="3">星期三</option>
            <option value="3">星期四</option>
            <option value="3">星期五</option>
            <option value="3">星期六</option>
            <option value="3">星期日</option>
          </select>
          <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox" value="" id="c4">
            <label class="form-check-label" for="c4">
              早上 6:00 ~ 12:00
            </label>
          </div>
          <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox" value="" id="c5">
            <label class="form-check-label" for="c5">
              下午 12:00 ~ 18:00
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="c6">
            <label class="form-check-label" for="c6">
              晚上 18:00 ~ 0:00
            </label>
          </div>
      
        </div>
      
        <div class="text-center">
          <div class="btn btn-primary text-white rounded-1 px-9 w-100">搜尋</div>
        </div>
      
      </div>
      <!-- mobile filter -->
      <div class="mb-5 pt-6 filter-group-sm d-lg-none d-block">
        <h3>教練專長</h3>
        <ul class="list-unstyled d-flex">
          <li class="me-6"><a class="me-1 link-dark" href="">體態調整</a></li>
          <li class="me-6"><a class="me-1 link-dark" href="">增肌減脂</a></li>
          <li class="me-6"><a class="me-1 link-dark" href="">運動訓練</a></li>
        </ul>  
      </div>        

      <!-- coach content -->
      <div class="ms-auto col-lg-9">

        <!-- Sort filter -->
        <!-- <div class="coach-sort filter-opt-group4 mb-7 d-lg-block d-none">
          <select class="form-select" aria-label="Default select example">
            <option selected>- 排列順序 -</option>
            <option value="1">資歷從高至低</option>
            <option value="2">體驗課費用從低至高</option>
            <option value="3">體驗課費用從高至低</option>
          </select>
        </div> -->

        <!-- Cards -->
        <ul class="render-coach-cards list-unstyled pb-lg-7 row">
          <li class="coach-card mb-5">
            <a class="row align-items-center" href="#">
              <div class="coach-photo col-lg-3 col-4">
                <img src="https://raw.githubusercontent.com/TzuruC/fitnee-36/main/assets/images/coach1.png" alt="coach1" />              
              </div>
              <div class="coach-content col-lg-9 col-8">
                <div class="coach-info d-flex justify-content-between">  
                  <div>
                    <h4 class="coach-name fs-4 text-right link-dark">Kevin</h4>
                    <p class="coach-title fs-6">連鎖健身房教練</p>
                  </div>
                  <div class="coach-price">
                    <span class="d-block fs-5 text-end link-dark">NT 800</span> 
                    <span class="d-block fs-6 text-end link-dark">/ 體驗課</span>
                  </div>  
                </div>
                <div class="coach-intro link-dark fs-6">
                  專注於為學生提供最佳的健身教練服務。我能夠設計個性化的訓練計劃 ...
                </div>    
                
              </div>              
            </a>
          </li>
        </ul>
        
        <div class="text-center mt-8">
          <a href="coach-list.html" class="btn btn-outline-primary fs-5">返回列表</a>
        </div>
      </div>
    </section>


    <!-- fitnee-ad -->
    <%- include('./layout/fitnee-ad'); -%>
    
    <%- include('./layout/footer'); -%>
    <!-- axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <!-- customized js -->
    <script type="module" src="../main.js"></script>
    <script type="module" src="../assets/js/coach-detail.js"></script>
  </body>
</html>
