<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>#36 FitNee - 教練資格</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <!-- Page Banner -->
    <div class="page-banner pt-12 pb-5 justify-content-between">
      <div class="container py-lg-11">
        <div class="d-lg-flex d-block justify-content-between">
      <h2 class="fs-3 text-primary">教練資格 <span class="fs-5">/</span></h2>
      <p class="fs-6 text-white text-end">
        堅持不懈自己的選擇
        <span class="d-block d-lg-inline ms-lg-4">讓身體追上你心理的強悍</span>
      </p>
        </div>
      <div class="page-search-box d-flex d-lg-none justify-content-between align-items-center">
        <span class="material-symbols-outlined">
            search
            </span>
        <input type="search" class="form-control" placeholder="搜尋專業教練" aria-label="Search" aria-describedby="search-addon" />
        
      </div>
    </div>
    </div>
    
    <section class="page-list-section container my-lg-13 d-lg-block d-lg-flex col-lg-3 col-md-6 col-10">
      <div class="to-coach container my-lg-5 my-13">
        <p>親愛的健身教練，</p>
        <p>
          感謝您對我們平台的興趣，我們非常期待您的加入。為了讓平台上的學員能更全面地瞭解您的專業背景和經歷，我們需要您提供相關資訊，在通過審核後，我們將特別為您準備一個展示平台，讓需要您協助的學員能更容易找到您。</p>
      </div>

      <div id="loginForm" class="container my-lg-5 my-13">
        <div class="text-center">
          <h2 class="fw-bold mb-5">請先登入會員</h2>
          <p class="mb-10">還不是會員？ <a class="link-primary" href="register.html">免費註冊</a></p>
        </div>
        <div class="ui-form-white my-5">
          <div class="ui-placeholder ui-leftTop">
            <input id="loginMail" class="form-control ui-underline mb-7" name="email" type="text" placeholder="帳號 ( Email 信箱 )"><span>帳號</span>
            <span id="alertEmail" class="alert-span text-danger d-block fs-6"></span>
          </div>
        </div>
        <div class="ui-form-white my-5">
          <div class="ui-placeholder ui-leftTop">            
            <input id="loginPsw" class="form-control ui-underline mb-7" name="psw" type="password" placeholder="密碼"><span>密碼</span>
            <span id="alertPsw" class="alert-span text-danger d-block fs-6"></span>
          </div>
        </div>       

        <div class="text-center">
          <a id="loginBtn" type="button" class="my-3 btn btn-primary text-white col-12" href="index.html">登入</a>
          <span class="login-caution">繼續即表示您同意我們的 <a class="link-primary" href="">條款和條件</a> 以及 <a class="link-primary" href="">隱私權政策</a> 。</span>
        </div>
      </div>     

      <div id="coachAuditForm" class="container my-lg-5 my-13">
        <div class="text-center">
          <h2 class="fw-bold mb-5">請協助填入以下資料</h2>
          <p class="text-start mb-10">以下填入資料將作為您的教練基本資料使用，待審核通過，您可以在教練中心編輯修改這些資料。</p>
        </div>
        <div class="ui-form-white my-5">
          <div class="ui-placeholder ui-leftTop">
            <input id="loginMail" class="form-control ui-underline mb-7" name="email" type="text" placeholder="*教練名稱"><span>*教練名稱</span>
            <span id="alertEmail" class="alert-span text-danger d-block fs-6"></span>
          </div>
        </div>    
        <div class="ui-form-white my-5">
          <div class="ui-placeholder ui-leftTop">
            <input id="loginMail" class="form-control ui-underline mb-7" name="email" type="text" placeholder="*提供給學員聯絡教練的方式"><span>*聯絡方式</span>
            <span id="alertEmail" class="alert-span text-danger d-block fs-6"></span>
          </div>
        </div>    

        <div class="text-center">
          <a id="loginBtn" type="button" class="my-3 btn btn-primary text-white col-12" href="index.html">登入</a>
          <span class="login-caution">繼續即表示您同意我們的 <a class="link-primary" href="">條款和條件</a> 以及 <a class="link-primary" href="">隱私權政策</a> 。</span>
        </div>
      </div>    
      

    </section>


    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
