<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>#36 FitNee - 訓練幫手</title>
    </head>
    <body>
        <%- include('./layout/header'); -%>
        <!-- Page Banner -->
        <div class="page-banner pt-12 pb-5 justify-content-between">
            <div class="container py-lg-11">
                <div class="d-lg-flex d-block justify-content-between">
                    <h2 class="fs-3 text-primary">訓練幫手 <span class="fs-5">/</span></h2>
                    <p class="fs-6 text-white text-end">
                        堅持不懈自己的選擇
                        <span class="d-block d-lg-inline ms-lg-4">讓身體追上你心理的強悍</span>
                    </p>
                </div>
                <div class="page-search-box d-flex d-lg-none justify-content-between align-items-center">
                    <span class="material-symbols-outlined"> search </span>
                    <input
                        type="search"
                        class="form-control"
                        placeholder="搜尋專業教練"
                        aria-label="Search"
                        aria-describedby="search-addon"
                    />
                </div>
            </div>
        </div>

        <!-- module -->
        
        <!-- Fitnee App -->
        <div class="container">
            <div id="fitneehelper" class="fitneehelper-app text-center">
                <!-- ##1 welcome -->
                <div class="fn-welcome py-13" data-aos="fade-down"
                data-aos-anchor-placement="top-center">
                    <span class="d-block fs-4">歡迎使用</span><span class="d-block mb-7 fs-4">FitNee</span>
                    <h3 class="mb-10 welcome">訓練幫手</h3>
                    <span class="d-block mb-10 fs-6">輕鬆組織您的訓練內容</span>
                    <span class="d-block date-today">今天日期︰2023/11/02</span>
                    <a id="startBtn" type="button" class="my-3 py-5 btn btn-primary text-white col-8" href="index.html">立即開始訓練</a>
                </div>

                <!-- ##2 新增 -->
                <div class="fn-on-traning py-6 d-none">
                <h3 class="text-start mb-5">訓練幫手</h3>
                <div id="fitneehelperApp" class="fitneehelper-app text-center">
                    <div class="js-renderTraining">
                        
                    
                    </div>
                    <a id="addTrainingBtn" type="button" class="my-3 fs-6 py-2 btn btn-outline-primary rounded-pill col-12" href="index.html">+ 新增訓練項目</a>
                </div>
                </div>

                
            </div>
        </div>

        <!-- <iframe
        src="fitneehelper-training.html"
        frameborder="0"
        width="375px"
        height="100%"
        style="margin: 0 auto;"
        ></iframe> -->
        <%- include('./layout/footer'); -%>

        <!-- aos-animation -->
        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script>
            AOS.init();            
        </script>
        <!-- axios -->
        <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
        <!-- customized js -->
        <script type="module" src="../main.js"></script>
        <script type="module" src="../assets/js/fitneehelper.js"></script>
    </body>
</html>
