<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>#36 FitNee - 首頁</title>
    </head>
    <body>
        <div class="wrapper">
            <%- include('./layout/header'); -%>
            
            <!-- Hero -->
            <section class="hero">
                <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-none d-sm-block"
                                src="https://raw.githubusercontent.com/TzuruC/fitnee-36/main/assets/images/hero-lg.png" alt="banner-bg"/>
                            <img class="d-sm-none d-block" src="https://raw.githubusercontent.com/TzuruC/fitnee-36/main/assets/images/hero-sm.png" alt="banner-bg">
                            <div class="carousel-caption p-0">
                                <div class="hero banner-slogan-1 mb-md-14 mb-10" data-aos="fade-up" data-aos-duration="800" data-aos-once="true">
                                    <span class="fw-bold mb-4d-lg-inline d-block" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">健身訓練不只是習慣</span>
                                    <span class="fw-bold d-lg-inline d-block ms-lg-11" data-aos-delay="100" data-aos-once="true">更是<span class="heilights">生</span><span class="heilights">活</span><span class="heilights">態</span><span class="heilights">度</span></span>
                                </div>
                                <div data-aos="fade-up" data-aos-once="true" class="banner-slogan-2 mb-md-7 mb-4">承續您追求健康的堅持</div>
                                <div data-aos="fade-up" data-aos-once="true" class="banner-slogan-3 mb-md-11 mb-6">FITNEE訓練助理 <span class="banner-slogan-3 ms-lg-4 d-inline">協助您打造最佳訓練品質</span></div>
                                <div data-aos="fade-up" class="text-center">
                                    <a href="#findCoach" class="breath-light btn btn-outline-primary rounded-1 fs-4 px-9 py-3">立刻諮詢</a>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </section>

            <!-- Coach -->
            <section id="findCoach" data-aos="fade-up" data-aos-once="true" class="coach py-lg-14 py-9">
                <div class="container d-flex flex-column align-items-center">
                    <div class="title-group">
                        <h3 class="title text-center mb-lg-10 mb-7" data-aos="fade-up" data-aos-once="true">專業教練</h3>
                        <p class="m-0 text-center fs-lg-5 fs-6" data-aos="fade-up" data-aos-once="true" data-aos-duration="500">挑戰自我，我們一路支持您</p>
                    </div>

                    <!-- Coach Filter -->
                    <div class="coach-filter-system mb-lg-6 mb-lg-5 d-lg-flex justify-content-between align-items-center">
                        <!-- Swiper -->
                        <div class="swiper mySwiper ms-lg-0 me-lg-auto">
                            <div class="swiper-wrapper">
                                <a href="#" class="coach-default-filter swiper-slide pe-auto filter-btn text-white active" data-aos="fade-left" data-aos-delay="50" data-aos-once="true">體態調整</a>
                                <a href="#" class="coach-default-filter swiper-slide pe-auto filter-btn text-white" data-aos="fade-left" data-aos-delay="100" data-aos-once="true" data-aos-duration="500">增肌減脂</a>
                                <a href="#" class="coach-default-filter swiper-slide pe-auto filter-btn text-white" data-aos="fade-left" data-aos-delay="150" data-aos-once="true" data-aos-duration="750">運動訓練</a>
                                <div class="swiper-slide"></div>
                                <!-- <div class="swiper-slide"></div> -->
                            </div>
                        </div>
                        <!-- 搜尋欄 -->
                        <div class="search-box mb-5 mb-lg-0 d-flex justify-content-between align-items-center" data-aos="zoom-in">
                            <span class="material-symbols-outlined">
                                search
                                </span>
                        <form class="search-coach">
                            <input name="search" type="text" class="form-control mb-0" placeholder="搜尋" aria-label="Search" aria-describedby="search-addon" />
                        </form>
                        </div>
                    </div>                    

                    <ul class="coach-cards w-100 list-unstyled d-flex justify-content-start flex-lg-row flex-column">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin:auto;background:#fff;display:block;" width="100px" height="100px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
                            <rect x="17.5" y="30" width="15" height="40" fill="#996f05">
                            <animate attributeName="y" repeatCount="indefinite" dur="1s" calcMode="spline" keyTimes="0;0.5;1" values="18;30;30" keySplines="0 0.5 0.5 1;0 0.5 0.5 1" begin="-0.2s"></animate>
                            <animate attributeName="height" repeatCount="indefinite" dur="1s" calcMode="spline" keyTimes="0;0.5;1" values="64;40;40" keySplines="0 0.5 0.5 1;0 0.5 0.5 1" begin="-0.2s"></animate>
                        </rect>
                        <rect x="42.5" y="30" width="15" height="40" fill="#d79c05">
                            <animate attributeName="y" repeatCount="indefinite" dur="1s" calcMode="spline" keyTimes="0;0.5;1" values="20.999999999999996;30;30" keySplines="0 0.5 0.5 1;0 0.5 0.5 1" begin="-0.1s"></animate>
                            <animate attributeName="height" repeatCount="indefinite" dur="1s" calcMode="spline" keyTimes="0;0.5;1" values="58.00000000000001;40;40" keySplines="0 0.5 0.5 1;0 0.5 0.5 1" begin="-0.1s"></animate>
                        </rect>
                        <rect x="67.5" y="30" width="15" height="40" fill="#f6bd2c">
                            <animate attributeName="y" repeatCount="indefinite" dur="1s" calcMode="spline" keyTimes="0;0.5;1" values="20.999999999999996;30;30" keySplines="0 0.5 0.5 1;0 0.5 0.5 1"></animate>
                            <animate attributeName="height" repeatCount="indefinite" dur="1s" calcMode="spline" keyTimes="0;0.5;1" values="58.00000000000001;40;40" keySplines="0 0.5 0.5 1;0 0.5 0.5 1"></animate>
                        </rect>
                        </svg>
                    </ul>
                    <div class="text-center pt-9">
                        <a class="btn ms-2 btn-outline-primary rounded-1 fs-4 px-9 py-3" href="coach-list.html">更多專業教練</a>
                    </div>
                </div>
            </section>
            <section class="coach-slogan">
                <div class="container text-white text-center py-lg-14 py-9" data-aos="fade-up" data-aos-once="true" data-aos="fade-up" data-aos-duration="800">
                    <span class="mb-7 mb-lg-0 d-lg-inline d-block">堅持不懈自己的選擇</span><span class="ms-lg-9 d-lg-inline d-block">讓身體追上心裡的強悍</span>
                </div>
            </section>

            <!-- FitNee Helper -->
            <section class="fitneehelper pt-lg-14 pt-9">
                <div class="container d-flex flex-column align-items-center">
                    <div class="title-group">
                        <h3 class="title text-center text-white mb-lg-10 mb-7" data-aos="fade-up" data-aos-once="true">訓練幫手</h3>
                        <p class="m-0 text-center text-white" data-aos="fade-up" data-aos-once="true" data-aos-duration="500">幫助您輕鬆組織有效訓練</p>
                    </div>
                    <div class="w-100 px-lg-0 px-7 d-flex justify-content-between align-items-center flex-lg-row flex-column">
                        <div class="fitnee-content">
                            <ul class="list-unstyled">
                                <li class="mb-lg-10 mb-5 d-flex" data-aos="fade-left" data-aos-delay="50" data-aos-once="true" data-aos-anchor=".fitnee-content">
                                    <span class="material-symbols-outlined text-primary">done</span> 
                                    <p class="text-primary mb-0">
                                        快速建立訓練菜單<span class="mt-2 d-block text-white">全自定義的訓練項目，自主訓練不卡卡</span>
                                    </p>                                    
                                </li>
                                <li class="mb-lg-10 mb-5 d-flex" data-aos="fade-left" data-aos-delay="150" data-aos-once="true" data-aos-anchor=".fitnee-content">
                                    <span class="material-symbols-outlined text-primary">done</span> 
                                    <p class="text-primary mb-0">
                                        維持訓練專注品質<span class="mt-2 d-block text-white">重量組數輕鬆記，組間休息輕鬆設定</span>
                                    </p>                                    
                                </li>
                                <li class="mb-lg-10 mb-5 d-flex" data-aos="fade-left" data-aos-delay="250" data-aos-once="true" data-aos-anchor=".fitnee-content">
                                    <span class="material-symbols-outlined text-primary">done</span>
                                    <p class="text-primary mb-0">
                                        安排訓練有效率<span class="mt-2 d-block text-white">視圖檢視訓練肌群，訓練重點清晰好懂</span>
                                    </p>                                    
                                </li>                                
                                <div class="text-center">
                                    <a href="fitneehelper.html" class="btn ms-2 btn-outline-primary rounded-1 fs-4 px-9 py-3 my-lg-0 my-5">立即免費體驗</a>
                                </div>
                            </ul>
                        </div>
                        <div class="fitnee-demo" data-aos="fade-up" data-aos-once="true" data-aos="fade-up" data-aos-duration="800">
                            <img class="d-md-block d-none" src="https://raw.githubusercontent.com/TzuruC/fitnee-36/main/assets/images/app-lg.png" alt="fitnee-demo">
                            <img class="d-md-none d-block" src="https://raw.githubusercontent.com/TzuruC/fitnee-36/main/assets/images/app-sm.png" alt="fitnee-demo">
                        </div>
                    </div>
                </div>
            </section>

            <!-- Article -->
            <section data-aos="fade-up" data-aos-once="true" class="article py-lg-14 py-9">
                <div class="container d-flex flex-column align-items-center">
                    <div class="title-group">
                        <h3 class="title text-center mb-lg-10 mb-7" data-aos="fade-up" data-aos-once="true">精選文章</h3>
                        <p class="m-0 text-center fs-lg-5 fs-6" data-aos="fade-up" data-aos-once="true" data-aos-duration="500">掌握訓練品質，給您最多元的支持</p>
                    </div>
                    <ul class="article-filter list-unstyled d-flex text-center">
                        <li class="border-end" data-aos="fade-left" data-aos-delay="50" data-aos-once="true"><a class="link-primary active" href="#">所有分類</a></li>
                        <li class="border-end" data-aos="fade-left" data-aos-delay="100" data-aos-once="true" data-aos-duration="500"><a class="" href="#">增肌減脂</a></li>
                        <li class="" data-aos="fade-left" data-aos-delay="150" data-aos-once="true" data-aos-duration="750"><a class="" href="#">運動訓練</a></li>
                    </ul>
                    <ul class="article-cards mb-lg-12 mb-9 list-unstyled d-md-flex justify-content-evenly w-100 row">

                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin:auto;background:#fff;display:block;" width="100px" height="100px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
                            <rect x="17.5" y="30" width="15" height="40" fill="#996f05">
                              <animate attributeName="y" repeatCount="indefinite" dur="1s" calcMode="spline" keyTimes="0;0.5;1" values="18;30;30" keySplines="0 0.5 0.5 1;0 0.5 0.5 1" begin="-0.2s"></animate>
                              <animate attributeName="height" repeatCount="indefinite" dur="1s" calcMode="spline" keyTimes="0;0.5;1" values="64;40;40" keySplines="0 0.5 0.5 1;0 0.5 0.5 1" begin="-0.2s"></animate>
                            </rect>
                            <rect x="42.5" y="30" width="15" height="40" fill="#d79c05">
                              <animate attributeName="y" repeatCount="indefinite" dur="1s" calcMode="spline" keyTimes="0;0.5;1" values="20.999999999999996;30;30" keySplines="0 0.5 0.5 1;0 0.5 0.5 1" begin="-0.1s"></animate>
                              <animate attributeName="height" repeatCount="indefinite" dur="1s" calcMode="spline" keyTimes="0;0.5;1" values="58.00000000000001;40;40" keySplines="0 0.5 0.5 1;0 0.5 0.5 1" begin="-0.1s"></animate>
                            </rect>
                            <rect x="67.5" y="30" width="15" height="40" fill="#f6bd2c">
                              <animate attributeName="y" repeatCount="indefinite" dur="1s" calcMode="spline" keyTimes="0;0.5;1" values="20.999999999999996;30;30" keySplines="0 0.5 0.5 1;0 0.5 0.5 1"></animate>
                              <animate attributeName="height" repeatCount="indefinite" dur="1s" calcMode="spline" keyTimes="0;0.5;1" values="58.00000000000001;40;40" keySplines="0 0.5 0.5 1;0 0.5 0.5 1"></animate>
                            </rect>
                            </svg>
                    </ul>
                    <div class="text-center" data-aos="fade-up" data-aos-duration="500" data-aos-anchor=".article-filter">
                        <a class="btn ms-2 btn-outline-primary rounded-1 fs-4 px-9 py-3" href="article-list.html">更多精選文章</a>
                    </div>
                </div>
            </section>

            <%- include('./layout/footer'); -%></footer>
        </div>
        <!-- end .wrapper -->

        <!-- aos-animation -->
        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script>
            AOS.init();            
        </script>
        <!-- Swiper JS -->
        <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
        <!-- Initialize Swiper -->
        <script>
            var swiper = new Swiper(".mySwiper", {
            watchSlidesProgress: true,
            slidesPerView: 3,
            });
        </script>
        <!-- axios -->
        <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
        <!-- customized js -->
        <script type="module" src="../main.js"></script>
        <script type="module" src="../assets/js/animation.js"></script>
        <script type="module" src="../assets/js/auth.js"></script>
        <script type="module" src="../assets/js/index.js"></script>
    </body>
</html>
