<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>#36 FitNee 訓練助理</title>
    </head>
    <body>
        <div class="wrapper">
            <%- include('./layout/header'); -%>

            <section class="hero">
                <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img
                                src="https://raw.githubusercontent.com/TzuruC/fitnee-36/main/assets/images/hero-lg.png"
                                class="d-block w-100"
                                alt="banner"
                            />
                            <div class="carousel-caption d-none d-md-block">
                                <h5>健身訓練不只是習慣</h5>
                                <p>更是生活態度</p>
                                承續您追求健康的堅持 FITNEE訓練助理 助您打造合適訓練品質
                            </div>
                            <div class="btn">立刻諮詢</div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="coach">
                <div class="container">
                    <h3>專業教練</h3>
                    <span>挑戰自我，我們一路支持您</span>
                </div>
            </section>

            <section class="fitneehelper">
                <div class="container">
                    <h3>訓練幫手</h3>
                    <span>幫助您輕鬆組織有效訓練</span>
                </div>
            </section>

            <section class="article">
                <div class="container">
                    <h3>精選文章</h3>
                    <span>掌握訓練品質，給您最多元的支持</span>
                    <ul class="article-filter">
                        <li>最新消息</li>
                        <li>訓練知識</li>
                        <li>學員心得</li>
                    </ul>
                    <ul class="article-cards">
                        <li>
                            <img src="" alt="" />
                            <h4></h4>
                            <p></p>
                            <p></p>
                        </li>
                        <li>
                            <img src="" alt="" />
                            <h4></h4>
                            <p></p>
                            <p></p>
                        </li>
                        <li>
                            <img src="" alt="" />
                            <h4></h4>
                            <p></p>
                            <p></p>
                        </li>
                        <li>
                            <img src="" alt="" />
                            <h4></h4>
                            <p></p>
                            <p></p>
                        </li>
                    </ul>
                    <div class="btn">更多精選文章</div>
                </div>
            </section>

            <footer><%- include('./layout/footer'); -%></footer>
        </div>
        <!-- end .wrapper -->

        <!-- aos-animation -->
        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script>
            AOS.init();
        </script>

        <!-- customized js -->
        <script type="module" src="../main.js"></script>
    </body>
</html>
