<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>#36 FitNee 訓練助理</title>
    </head>
    <body>
        <div class="wrapper">
            <%- include('./layout/header'); -%>

            <section class="hero">
                <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img
                                src="https://raw.githubusercontent.com/TzuruC/fitnee-36/main/assets/images/hero-lg.png"
                                class="d-block w-100"
                                alt="banner"
                            />
                            <div class="carousel-caption">
                                <div class="hero banner-slogan-1 mb-14">
                                    健身訓練不只是習慣&nbsp;&nbsp;&nbsp;
                                    <div class="d-lg-inline d-block">更是<span>生</span><span>活</span><span>態</span
                                    ><span>度</span></div>
                                </div>
                                <div class="fs-1 mb-7">承續您追求健康的堅持</div>
                                <div class="fs-4 mb-11">FITNEE訓練助理&nbsp;&nbsp;&nbsp;助您打造合適訓練品質</div>
                                <div class="btn ms-2 btn-outline-primary rounded-1 fs-4 px-9 py-3">立刻諮詢</div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </section>

            <section class="coach py-13">
                <div class="container">
                    <div class="title-group">
                        <h3 class="title text-center mb-10">專業教練</h3>
                        <p class="text-center fs-5">挑戰自我，我們一路支持您</p>
                    </div>
                    <div class="coach-filter-system d-md-flex justify-content-between">
                        <ul class="coach-filter list-unstyled d-md-flex">
                            <li>體態調整</li>
                            <li>增肌減脂</li>
                            <li>運動訓練</li>
                        </ul>
                        <div class="coach-search d-flex">
                            <span class="input-group-text" id="basic-addon1">@</span>
                            <input type="text" >
                        </div>
                    </div>
                    <ul class="coach-cards list-unstyled d-md-flex">
                        <li>
                            <img src="https://raw.githubusercontent.com/TzuruC/fitnee-36/main/assets/images/coach1.png" alt="coach1" />
                            <h4></h4>
                            <p></p>
                            <p></p>
                        </li>
                        <li>
                            <img src="https://raw.githubusercontent.com/TzuruC/fitnee-36/main/assets/images/coach2.png" alt="coach2" />
                            <h4></h4>
                            <p></p>
                            <p></p>
                        </li>
                        <li>
                            <img src="https://raw.githubusercontent.com/TzuruC/fitnee-36/main/assets/images/coach3.png" alt="coach3" />
                            <h4></h4>
                            <p></p>
                            <p></p>
                        </li>
                        <li>
                            <img src="https://raw.githubusercontent.com/TzuruC/fitnee-36/main/assets/images/coach4.png" alt="coach4" />
                            <h4></h4>
                            <p></p>
                            <p></p>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="coach-slogan">
                <div class="container text-white text-center py-14">
                    <span class="px-5">堅持不懈自己的選擇</span><span class="px-5">讓身體追上心裡的強悍</span>
                </div>
            </section>

            <section class="fitneehelper py-13">
                <div class="container">
                    <div class="title-group">
                        <h3 class="title text-center text-white mb-10">訓練幫手</h3>
                        <p class="text-center fs-5 text-white">幫助您輕鬆組織有效訓練</p>
                    </div>
                </div>
            </section>

            <section class="article py-13">
                <div class="container">
                    <div class="title-group">
                        <h3 class="title text-center mb-10">精選文章</h3>
                        <p class="text-center fs-5">掌握訓練品質，給您最多元的支持</p>
                    </div>
                    <ul class="article-filter list-unstyled d-md-flex">
                        <li>最新消息</li>
                        <li>訓練知識</li>
                        <li>學員心得</li>
                    </ul>
                    <ul class="article-cards list-unstyled d-md-flex">
                        <li>
                            <img src="https://raw.githubusercontent.com/TzuruC/fitnee-36/main/assets/images/article1.png" alt="article1" />
                            <h4></h4>
                            <p></p>
                            <p></p>
                        </li>
                        <li>
                            <img src="https://raw.githubusercontent.com/TzuruC/fitnee-36/main/assets/images/article2.png" alt="article2" />
                            <h4></h4>
                            <p></p>
                            <p></p>
                        </li>
                        <li>
                            <img src="https://raw.githubusercontent.com/TzuruC/fitnee-36/main/assets/images/article3.png" alt="article3" />
                            <h4></h4>
                            <p></p>
                            <p></p>
                        </li>
                        <li>
                            <img src="https://raw.githubusercontent.com/TzuruC/fitnee-36/main/assets/images/article4.png" alt="article4" />
                            <h4></h4>
                            <p></p>
                            <p></p>
                        </li>
                    </ul>
                    <div class="btn ms-2 btn-outline-primary rounded-1 fs-4 px-9 py-3">更多精選文章</div>
                </div>
            </section>

            <footer><%- include('./layout/footer'); -%></footer>
        </div>
        <!-- end .wrapper -->

        <!-- aos-animation -->
        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script>
            AOS.init();
        </script>

        <!-- customized js -->
        <script type="module" src="../main.js"></script>
    </body>
</html>
