<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>#36 FitNee - 註冊</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <!-- Page Banner -->
    <div class="page-banner pt-12 pb-5 justify-content-between">
      <div class="container py-lg-11">
        <div class="d-lg-flex d-block justify-content-between">
      <h2 class="fs-3 text-primary">註冊 <span class="fs-5">/</span></h2>
      <p class="fs-6 text-white text-end">
        堅持不懈自己的選擇
        <span class="d-block d-lg-inline ms-lg-4">讓身體追上你心理的強悍</span>
      </p>
        </div>
      <div class="page-search-box d-flex d-lg-none justify-content-between align-items-center">
        <span class="material-symbols-outlined">
            search
            </span>
        <input type="search" class="form-control" placeholder="搜尋專業教練" aria-label="Search" aria-describedby="search-addon" />
        
      </div>
    </div>
    </div>
    
    <section class="page-list-section container my-lg-13 d-lg-block d-lg-flex col-lg-3 col-md-6 col-8">

      <div id="loginForm" class="container my-lg-5 my-13">
        <div class="text-center">
          <h2 class="fw-bold mb-5">建立會員帳戶</h2>
          <p class="mb-10">已經是會員？ 前往<a class="link-primary" href="register.html">登入頁面</a></p>
        </div>
        <div class="ui-form-white my-5">
          <div class="ui-placeholder ui-leftTop">
            <input id="loginMail" class="form-control ui-underline mb-7" name="email" type="text" placeholder="帳號 ( Email 信箱 )"><span>帳號</span>
            <span id="alertEmail" class="alert-span text-danger d-block fs-6"></span>
          </div>
        </div>
        <div class="ui-form-white my-5">
          <div class="ui-placeholder ui-leftTop">            
            <input id="loginPsw" class="form-control ui-underline mb-7" name="psw" type="password" placeholder="密碼"><span>密碼</span>
            <span id="alertPsw" class="alert-span text-danger d-block fs-6"></span>
          </div>
        </div>       

        <div class="text-center">
          <a id="loginBtn" type="button" class="my-3 btn btn-primary text-white col-12" href="index.html">登入</a>
          <span class="login-caution">繼續即表示您同意我們的 <a class="link-primary" href="">條款和條件</a> 以及 <a class="link-primary" href="">隱私權政策</a> 。</span>
          <a type="button" class="d-block my-7 link-primary" href="admin-signin.html">- 管理員登入 -</a>
        </div>
      </div>
      
    </section>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
